article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
    display:block;
} /* from http://diveintohtml5.info/semantics.html#unknown-elements */

body {
    background-color: lightblue;
    font-family: 'Cousine', monospace;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
}